body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 3vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    max-width: 90%;
    padding: 2vw;
    height: 100vh;
}

.text-section {
    max-width: 80%;
    text-align: left;
}

.text-section h1 {
    font-size: 5vw;
    font-weight: bold;
}

.text-section p {
    font-size: 2vw;
    font-style: italic;
}

.profile-image {
    width: 25vw;
    height: 25vw;
    border-radius: 25px;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills-section {
    margin-top: 10vw;
    text-align: left;
    width: 100%;
}

.skills-section h1 {
    margin-bottom: 2vw;
    font-size: 4vw;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6vw; /* زيادة المسافة بين الأيقونات */
   
}

.skills-icons img {
    width: 6vw;  /* تصغير الأيقونات */
    height: 6vw; /* تصغير الأيقونات */
}

.skill-item p {
    margin-top: 1vw;
    font-size: 2vw;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    max-width: 90%;
    padding: 2vw;
    height: 100vh;
}

.about-section img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    object-fit: cover;
}

.about-text {
    max-width: 80%;
    text-align: left;
}

.about-text h1 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.about-text p {
    font-size: 1.5vw;
    line-height: 1.5;
}

.expertise-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 2vw;
    margin-top: 5vw;
}

.expertise-title {
    font-size: 3vw;
    font-weight: bold;
    margin-right: 2vw;
    flex-shrink: 0;
}

.expertise-text {
    font-size: 2vw;
    text-align: center;
    line-height: 2;
    flex-grow: 1;
    font-weight: bold;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2vw;
    margin-top: 5vw;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.contact-container p {
    font-size: 2vw;
    color: white;
    margin-right: 2vw;
    z-index: 1; 
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2vw;
    z-index: 1; 
}

.social-links li a img {
    width: 4vw;
    height: 4vw;
    filter: invert(1);
}

.top-line, .bottom-line {
    position: absolute;
    width: 100%;
    height: 0.3vw;
    background: linear-gradient(to left, #FF66C4, #FFDE59);
}

.top-line {
    top: 0;
}

.bottom-line {
    bottom: 0;
}
